<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />


</head>
<body>
    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="Logo">
        </div>
        <div>
            <a class= "search">Buscar productos, marcas</a>
            <a href="" class="lupa"><i class="fas fa-search"></i></a>
        </div>
        <div class="center">
            <a href="" class="hand"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</a>
        </div>
        <nav>
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasoficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="/creatucuenta">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
                <li><a href="/ingresa">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/miscompras">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="center">
            <a href="" class="burger"><i class="fas fa-bars"></i></a>
        </div>   
    </header>
    <main>
        <section>
            <article class="banner">
                <img src="/images/img-home-banner.jpg" alt="Banner">
            </article>
        </section>
        <section>
            <h2> Basado en tu última visita</h2>
            <article class= "producto">
                <img src="/images/img-cafetera-moulinex.jpg" class="cafetera"alt="Cafetera Moulinex">
                <div class="data"> 
                    <a href="" class="truck"><i class="fas fa-truck"></i></a>
                    <p>$6.770</p>
                    <p class="descuento">40% off</p>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article class= "producto">
                <img src="/images/img-macbook-pro-2019.jpg" class="macbook"alt="MacBook Pro 2019">
                <div class="data">
                    <a href="" class="truck"><i class="fas fa-truck"></i></a>
                    <p>$230.000</p>
                    <p class="descuento">20% off</p>
                    <h4>MacBook Pro 2019</h4>
                </div>                
            </article>
            <article class= "producto">
                <img src="/images/img-samsung-galaxy-s10.jpg" class="celular"alt="Samsung Galaxy S10">
                <div class="data">
                    <a href="" class="truck"><i class="fas fa-truck"></i></a>
                    <p>$70.500</p>
                    <p class="descuento">10% off</p>
                    <h4>Samsung Galaxy S10</h4>
                </div>                
            </article>
            <article class= "producto">
                <img src="/images/img-tv-samsung-smart.jpg" class="tv"alt="SmartTv Samsung 43"">
                <div class="data">
                    <a href="" class="truck"><i class="fas fa-truck"></i></a>
                    <p>$23.200</p>
                    <p class="descuento">5% off</p>
                    <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <section>
            <h2> Sección de ofertas</h2>
            <article class= "producto">
                <img src="/images/img-cafetera-moulinex.jpg" class="cafetera" alt="Cafetera Moulinex">
                <div class="data">
                    <a href="" class="truck"><i class="fas fa-truck"></i></a>
                    <p>$6.770</p>
                    <p class="descuento">40% off</p>
                    <h4>Cafetera Moulinex</h4>
                </div>                
            </article>
            <article class= "producto">
                <img src="/images/img-macbook-pro-2019.jpg" class="macbook" alt="MacBook Pro 2019">
                <div class="data">
                    <a href="" class="truck"><i class="fas fa-truck"></i></a>
                    <p>$230.000</p>
                    <p class="descuento">20% off</p>
                    <h4>MacBook Pro 2019</h4>
                </div>                
            </article>
            <article class= "producto">
                <img src="/images/img-samsung-galaxy-s10.jpg" class="celular" alt="Samsung Galaxy S10">
                <div class="data">
                    <a href="" class="truck"><i class="fas fa-truck"></i></a>
                    <p>$70.500</p>
                    <p class="descuento">10% off</p>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class= "producto">
                <img src="/images/img-tv-samsung-smart.jpg" class="tv" alt="SmartTv Samsung 43">
                <div class="data">
                    <a href="" class="truck"><i class="fas fa-truck"></i></a>
                    <p>$23.200</p>
                    <p class="descuento">5% off</p>
                    <h4>SmartTv Samsung 43"</h4>
                </div>                
            </article>
        </section>
    </main>
    <footer>
        <section  class= "info">
            <article class="pago">
                <h4>  <i class="fas fa-credit-card"></i>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="envio">
                <h4><i class="fas fa-gift"></i>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="seguridad">
                <h4><i class="fas fa-user-shield"></i>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>